.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    width: 100vw;
    height: 30vh;
    border-bottom: solid 8px rgb(114, 114, 114);

    > img {
      height: 100%;
    }

    > div > h1 {
      border-bottom: solid white;
    }

    &__name-stats-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 15px;

      .powerstats {
        display: flex;
        width: 70%;
        margin-top: 20px;

        @media screen and (max-width: 450px) {
          margin-top: 5px;
          width: 100%;
          justify-content: space-evenly;
        }
      }

      @media screen and (max-width: 450px) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;
      height: 50vh;

      > img {
        height: 50%;
      }

      > div > h1 {
        border-bottom: solid white;
        text-align: center;
      }
    }
  }

  &__char-info {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    width: 70vw;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      width: 95%;
      margin: 0 0;
    }

    > * > span {
      line-height: 30px;
    }

    &__appearance {
      width: 30vw;
      padding-left: 10px;
      border-left: solid 1px #8F8C8A;

      @media screen and (max-width: 450px) {
        border-left: none;
        padding-left: 0;
        width: 100%;
        border-top: solid 1px #8F8C8A;
      }
    }
  
    &__biography {
      width: 70vw;
      padding-right: 20px;

      @media screen and (max-width: 450px) {
        width: 100%;
        padding-right: 0px;
      }
    }
  }

  .label {
    font-weight: 700;
  }

}