.loader {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.loader__image {
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
  margin-bottom: 20px;
}
.loader__message {
  font-size: 22px;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
