.labels-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.labels-container .title {
  font-size: 15px;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-left: solid 4px #D90A0A;
}
.labels-container .subtitle {
  font-size: 15px;
  font-weight: 300;
}
