.power-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: white;
  border-radius: 50%;
  margin: 5px 5px;
}
.power-card > span {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.power-card__icon {
  width: 30%;
  height: 30%;
}
@media screen and (max-width: 450px) {
  .power-card {
    width: 55px;
    height: 55px;
  }
  .power-card > span {
    font-weight: 600;
    font-size: 9px;
  }
  .power-card__icon {
    width: 26%;
    height: 26%;
  }
}
.power-card--strength {
  background-color: #D90A0A;
}
.power-card--intelligence {
  background-color: #849324;
}
.power-card--power {
  background-color: #FFB30F;
  color: black;
}
.power-card--speed {
  background-color: #11AB38;
}
.power-card--durability {
  background-color: #596A69;
}
.power-card--combat {
  background-color: #01295F;
}
