.characters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.characters-container .list {
  margin-top: 20px;
  width: 70vw;
}
@media screen and (max-width: 450px) {
  .characters-container .list {
    width: 90vw;
  }
}
