.hero-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 100px;
  background-image: linear-gradient(to right, black 50%, #D90A0A 50%);
  background-color: #393939;
  background-size: 200% 100%;
  position: relative;
  color: white;
  font-weight: 600;
  transition: background-position 0.3s;
  transition-timing-function: linear;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .hero-card {
    width: 100%;
  }
}
.hero-card > img {
  height: 100%;
  width: 75px;
  border-right: solid 5px #D90A0A;
  transition: transform 0.4s;
}
.hero-card > span {
  margin-left: 15px;
  font-size: 20px;
}
.hero-card::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: white;
  border-style: solid;
  border-top-color: transparent;
  border-width: 20px 20px 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  z-index: 40;
}
.hero-card:hover {
  cursor: pointer;
  background-position: -100% 0%;
}
.hero-card:hover > img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
