.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100vw;
  background-image: url("https://wallpapercave.com/wp/RYXf6X6.jpg");
  background-size: contain;
}
.search-field {
  width: 80%;
  height: 50px;
}
