.nav-bar {
  height: 40px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 8px #D90A0A;
}
.nav-bar > a {
  color: white;
  text-decoration: none;
}
.nav-bar > a:hover {
  color: #D90A0A;
}
